@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&family=Roboto+Mono:ital,wght@0,300;1,300;1,400&display=swap');


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px 0 0 0;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    background-color: #0F2C59;
    color: #DAC0A3;


}

.header {
    max-height: 200px;
}


.logo {
    border: double #DAC0A3;
    color: #DAC0A3;
    height: 100px;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 0 25px #F8F0E5;

}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding: 20px 100px;
    margin: 20px;

}

.hero img {
    width: 300px;
    height: 300px;
    box-shadow: 12px 12px 25px #F8F0E5;
    border-radius: 8px;
}

.recipe-contents {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 100px;
}

.steps h2 {
    text-align: center;
}

.footer {
    display: flex;
    background-color: #EADBC8;
    color: #0F2C59;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

}