@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&family=Roboto+Mono:ital,wght@0,300;1,300;1,400&display=swap');


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    background-color: #DAC0A3;
    color: #0F2C59;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 200px;
    padding: 10px 100px;
}

.logo {
    border: double #0F2C59;
    color: #0F2C59;
    height: 100px;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 0 25px #F8F0E5;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;

}

a {
    text-decoration: none;
    padding: 8px;
    border-right: 1px solid #3f3939;
    color: #0F2C59;
    transition: 0.2s;
}

a:hover {
    font-size: 125%;
    background-color: #F8F0E5;
}

img {

    box-shadow: 12px 12px 25px #F8F0E5;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 52px;
}

.footer {
    display: flex;
    background-color: #EADBC8;
    justify-content: center;
    align-items: center;

}